#app-container {
    text-align: center;
    width: 100%;
    height: 100%;
  }
.app {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.day-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 500px;
  }
  .city-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
  }

.zip-form {
  padding: 15px;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #fff;
  width: 30%;
  margin: 0 auto;
  margin-top: 150px;
}

.zip-form label {
  margin-top: 7px;
  vertical-align: middle;
}

.zip-form input {
  min-width: 200px;
  width: 60%;
  margin: 0 10px;
  font-size: 20px;
  vertical-align: middle;
}

.zip-form button {
  padding: 7px 10px;
  background-color: darkgreen;
  border: 1px solid #000;
  border-radius: 5px;
}

.weather-list {
  margin: 20px 0;
}

.weather-list-item {
  min-width: 100px;
  margin: 10px 10px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  cursor: pointer;
}

.weather-list-item :first-child {
  margin-left: 0;
}

.weather-list-item :last-child {
  margin-right: 0;
}

.weather-list-item > h3 {
  font-weight: normal;
}

.current-day {
  box-sizing: border-box;
  padding: 20px;
  padding-top: 0;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.9);
  text-align: center;
}
.city {
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
  }

.details {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.weather {
  font-size: 30px;
  line-height: 1.4;
  margin: 0 auto;
}

.weather img {
  vertical-align: middle;
}
.temperature-breakdown {
  display: flex;
  justify-content: center;
  text-align: center;
}
